// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$secondary-color: #005861;
$text-color: #fff;
$text-color-hover: #05c4af
